.simple-row {
  display: block;
  position: relative;
  margin: 0;
  height: auto;
  zoom: 1;
}

.simple-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.simple-col {
  display: block;
  position: relative;
}

.simple-row-flex-start {
  justify-content: start;
}

.simple-row-flex-end {
  justify-content: end;
}

.simple-row-flex-center {
  justify-content: center;
}

.simple-row-flex-space-around {
  justify-content: space-around;
}

.simple-row-flex-space-between {
  justify-content: space-between;
}

.simple-row-flex-top {
  align-items: flex-start;
}

.simple-row-flex-middle {
  align-items: center;
}

.simple-row-flex-bottom {
  align-items: flex-end;
}

.simple-col-span-1, .simple-col-span-2, .simple-col-span-3, .simple-col-span-4, .simple-col-span-5, .simple-col-span-6, .simple-col-span-7, .simple-col-span-8, .simple-col-span-9, .simple-col-span-10, .simple-col-span-11, .simple-col-span-12, .simple-col-span-13, .simple-col-span-14, .simple-col-span-15, .simple-col-span-16, .simple-col-span-17, .simple-col-span-18, .simple-col-span-19, .simple-col-span-20, .simple-col-span-21, .simple-col-span-22, .simple-col-span-23, .simple-col-span-24 {
  float: left;
  flex: 0 0 auto;
}

.simple-col-span-1 {
  width: 4.1666666667%;
}

.simple-col-push-1 {
  left: 4.1666666667%;
}

.simple-col-pull-1 {
  right: 4.1666666667%;
}

.simple-col-offset-1 {
  margin-left: 4.1666666667%;
}

.simple-col-span-2 {
  width: 8.3333333333%;
}

.simple-col-push-2 {
  left: 8.3333333333%;
}

.simple-col-pull-2 {
  right: 8.3333333333%;
}

.simple-col-offset-2 {
  margin-left: 8.3333333333%;
}

.simple-col-span-3 {
  width: 12.5%;
}

.simple-col-push-3 {
  left: 12.5%;
}

.simple-col-pull-3 {
  right: 12.5%;
}

.simple-col-offset-3 {
  margin-left: 12.5%;
}

.simple-col-span-4 {
  width: 16.6666666667%;
}

.simple-col-push-4 {
  left: 16.6666666667%;
}

.simple-col-pull-4 {
  right: 16.6666666667%;
}

.simple-col-offset-4 {
  margin-left: 16.6666666667%;
}

.simple-col-span-5 {
  width: 20.8333333333%;
}

.simple-col-push-5 {
  left: 20.8333333333%;
}

.simple-col-pull-5 {
  right: 20.8333333333%;
}

.simple-col-offset-5 {
  margin-left: 20.8333333333%;
}

.simple-col-span-6 {
  width: 25%;
}

.simple-col-push-6 {
  left: 25%;
}

.simple-col-pull-6 {
  right: 25%;
}

.simple-col-offset-6 {
  margin-left: 25%;
}

.simple-col-span-7 {
  width: 29.1666666667%;
}

.simple-col-push-7 {
  left: 29.1666666667%;
}

.simple-col-pull-7 {
  right: 29.1666666667%;
}

.simple-col-offset-7 {
  margin-left: 29.1666666667%;
}

.simple-col-span-8 {
  width: 33.3333333333%;
}

.simple-col-push-8 {
  left: 33.3333333333%;
}

.simple-col-pull-8 {
  right: 33.3333333333%;
}

.simple-col-offset-8 {
  margin-left: 33.3333333333%;
}

.simple-col-span-9 {
  width: 37.5%;
}

.simple-col-push-9 {
  left: 37.5%;
}

.simple-col-pull-9 {
  right: 37.5%;
}

.simple-col-offset-9 {
  margin-left: 37.5%;
}

.simple-col-span-10 {
  width: 41.6666666667%;
}

.simple-col-push-10 {
  left: 41.6666666667%;
}

.simple-col-pull-10 {
  right: 41.6666666667%;
}

.simple-col-offset-10 {
  margin-left: 41.6666666667%;
}

.simple-col-span-11 {
  width: 45.8333333333%;
}

.simple-col-push-11 {
  left: 45.8333333333%;
}

.simple-col-pull-11 {
  right: 45.8333333333%;
}

.simple-col-offset-11 {
  margin-left: 45.8333333333%;
}

.simple-col-span-12 {
  width: 50%;
}

.simple-col-push-12 {
  left: 50%;
}

.simple-col-pull-12 {
  right: 50%;
}

.simple-col-offset-12 {
  margin-left: 50%;
}

.simple-col-span-13 {
  width: 54.1666666667%;
}

.simple-col-push-13 {
  left: 54.1666666667%;
}

.simple-col-pull-13 {
  right: 54.1666666667%;
}

.simple-col-offset-13 {
  margin-left: 54.1666666667%;
}

.simple-col-span-14 {
  width: 58.3333333333%;
}

.simple-col-push-14 {
  left: 58.3333333333%;
}

.simple-col-pull-14 {
  right: 58.3333333333%;
}

.simple-col-offset-14 {
  margin-left: 58.3333333333%;
}

.simple-col-span-15 {
  width: 62.5%;
}

.simple-col-push-15 {
  left: 62.5%;
}

.simple-col-pull-15 {
  right: 62.5%;
}

.simple-col-offset-15 {
  margin-left: 62.5%;
}

.simple-col-span-16 {
  width: 66.6666666667%;
}

.simple-col-push-16 {
  left: 66.6666666667%;
}

.simple-col-pull-16 {
  right: 66.6666666667%;
}

.simple-col-offset-16 {
  margin-left: 66.6666666667%;
}

.simple-col-span-17 {
  width: 70.8333333333%;
}

.simple-col-push-17 {
  left: 70.8333333333%;
}

.simple-col-pull-17 {
  right: 70.8333333333%;
}

.simple-col-offset-17 {
  margin-left: 70.8333333333%;
}

.simple-col-span-18 {
  width: 75%;
}

.simple-col-push-18 {
  left: 75%;
}

.simple-col-pull-18 {
  right: 75%;
}

.simple-col-offset-18 {
  margin-left: 75%;
}

.simple-col-span-19 {
  width: 79.1666666667%;
}

.simple-col-push-19 {
  left: 79.1666666667%;
}

.simple-col-pull-19 {
  right: 79.1666666667%;
}

.simple-col-offset-19 {
  margin-left: 79.1666666667%;
}

.simple-col-span-20 {
  width: 83.3333333333%;
}

.simple-col-push-20 {
  left: 83.3333333333%;
}

.simple-col-pull-20 {
  right: 83.3333333333%;
}

.simple-col-offset-20 {
  margin-left: 83.3333333333%;
}

.simple-col-span-21 {
  width: 87.5%;
}

.simple-col-push-21 {
  left: 87.5%;
}

.simple-col-pull-21 {
  right: 87.5%;
}

.simple-col-offset-21 {
  margin-left: 87.5%;
}

.simple-col-span-22 {
  width: 91.6666666667%;
}

.simple-col-push-22 {
  left: 91.6666666667%;
}

.simple-col-pull-22 {
  right: 91.6666666667%;
}

.simple-col-offset-22 {
  margin-left: 91.6666666667%;
}

.simple-col-span-23 {
  width: 95.8333333333%;
}

.simple-col-push-23 {
  left: 95.8333333333%;
}

.simple-col-pull-23 {
  right: 95.8333333333%;
}

.simple-col-offset-23 {
  margin-left: 95.8333333333%;
}

.simple-col-span-24 {
  width: 100%;
}

.simple-col-push-24 {
  left: 100%;
}

.simple-col-pull-24 {
  right: 100%;
}

.simple-col-offset-24 {
  margin-left: 100%;
}

@media (max-width: 768px) {
  .simple-col-span-xs-1, .simple-col-span-xs-2, .simple-col-span-xs-3, .simple-col-span-xs-4, .simple-col-span-xs-5, .simple-col-span-xs-6, .simple-col-span-xs-7, .simple-col-span-xs-8, .simple-col-span-xs-9, .simple-col-span-xs-10, .simple-col-span-xs-11, .simple-col-span-xs-12, .simple-col-span-xs-13, .simple-col-span-xs-14, .simple-col-span-xs-15, .simple-col-span-xs-16, .simple-col-span-xs-17, .simple-col-span-xs-18, .simple-col-span-xs-19, .simple-col-span-xs-20, .simple-col-span-xs-21, .simple-col-span-xs-22, .simple-col-span-xs-23, .simple-col-span-xs-24 {
    float: left;
    flex: 0 0 auto;
  }

  .simple-col-span-xs-1 {
    width: 4.1666666667%;
  }

  .simple-col-push-xs-1 {
    left: 4.1666666667%;
  }

  .simple-col-pull-xs-1 {
    right: 4.1666666667%;
  }

  .simple-col-offset-xs-1 {
    margin-left: 4.1666666667%;
  }

  .simple-col-span-xs-2 {
    width: 8.3333333333%;
  }

  .simple-col-push-xs-2 {
    left: 8.3333333333%;
  }

  .simple-col-pull-xs-2 {
    right: 8.3333333333%;
  }

  .simple-col-offset-xs-2 {
    margin-left: 8.3333333333%;
  }

  .simple-col-span-xs-3 {
    width: 12.5%;
  }

  .simple-col-push-xs-3 {
    left: 12.5%;
  }

  .simple-col-pull-xs-3 {
    right: 12.5%;
  }

  .simple-col-offset-xs-3 {
    margin-left: 12.5%;
  }

  .simple-col-span-xs-4 {
    width: 16.6666666667%;
  }

  .simple-col-push-xs-4 {
    left: 16.6666666667%;
  }

  .simple-col-pull-xs-4 {
    right: 16.6666666667%;
  }

  .simple-col-offset-xs-4 {
    margin-left: 16.6666666667%;
  }

  .simple-col-span-xs-5 {
    width: 20.8333333333%;
  }

  .simple-col-push-xs-5 {
    left: 20.8333333333%;
  }

  .simple-col-pull-xs-5 {
    right: 20.8333333333%;
  }

  .simple-col-offset-xs-5 {
    margin-left: 20.8333333333%;
  }

  .simple-col-span-xs-6 {
    width: 25%;
  }

  .simple-col-push-xs-6 {
    left: 25%;
  }

  .simple-col-pull-xs-6 {
    right: 25%;
  }

  .simple-col-offset-xs-6 {
    margin-left: 25%;
  }

  .simple-col-span-xs-7 {
    width: 29.1666666667%;
  }

  .simple-col-push-xs-7 {
    left: 29.1666666667%;
  }

  .simple-col-pull-xs-7 {
    right: 29.1666666667%;
  }

  .simple-col-offset-xs-7 {
    margin-left: 29.1666666667%;
  }

  .simple-col-span-xs-8 {
    width: 33.3333333333%;
  }

  .simple-col-push-xs-8 {
    left: 33.3333333333%;
  }

  .simple-col-pull-xs-8 {
    right: 33.3333333333%;
  }

  .simple-col-offset-xs-8 {
    margin-left: 33.3333333333%;
  }

  .simple-col-span-xs-9 {
    width: 37.5%;
  }

  .simple-col-push-xs-9 {
    left: 37.5%;
  }

  .simple-col-pull-xs-9 {
    right: 37.5%;
  }

  .simple-col-offset-xs-9 {
    margin-left: 37.5%;
  }

  .simple-col-span-xs-10 {
    width: 41.6666666667%;
  }

  .simple-col-push-xs-10 {
    left: 41.6666666667%;
  }

  .simple-col-pull-xs-10 {
    right: 41.6666666667%;
  }

  .simple-col-offset-xs-10 {
    margin-left: 41.6666666667%;
  }

  .simple-col-span-xs-11 {
    width: 45.8333333333%;
  }

  .simple-col-push-xs-11 {
    left: 45.8333333333%;
  }

  .simple-col-pull-xs-11 {
    right: 45.8333333333%;
  }

  .simple-col-offset-xs-11 {
    margin-left: 45.8333333333%;
  }

  .simple-col-span-xs-12 {
    width: 50%;
  }

  .simple-col-push-xs-12 {
    left: 50%;
  }

  .simple-col-pull-xs-12 {
    right: 50%;
  }

  .simple-col-offset-xs-12 {
    margin-left: 50%;
  }

  .simple-col-span-xs-13 {
    width: 54.1666666667%;
  }

  .simple-col-push-xs-13 {
    left: 54.1666666667%;
  }

  .simple-col-pull-xs-13 {
    right: 54.1666666667%;
  }

  .simple-col-offset-xs-13 {
    margin-left: 54.1666666667%;
  }

  .simple-col-span-xs-14 {
    width: 58.3333333333%;
  }

  .simple-col-push-xs-14 {
    left: 58.3333333333%;
  }

  .simple-col-pull-xs-14 {
    right: 58.3333333333%;
  }

  .simple-col-offset-xs-14 {
    margin-left: 58.3333333333%;
  }

  .simple-col-span-xs-15 {
    width: 62.5%;
  }

  .simple-col-push-xs-15 {
    left: 62.5%;
  }

  .simple-col-pull-xs-15 {
    right: 62.5%;
  }

  .simple-col-offset-xs-15 {
    margin-left: 62.5%;
  }

  .simple-col-span-xs-16 {
    width: 66.6666666667%;
  }

  .simple-col-push-xs-16 {
    left: 66.6666666667%;
  }

  .simple-col-pull-xs-16 {
    right: 66.6666666667%;
  }

  .simple-col-offset-xs-16 {
    margin-left: 66.6666666667%;
  }

  .simple-col-span-xs-17 {
    width: 70.8333333333%;
  }

  .simple-col-push-xs-17 {
    left: 70.8333333333%;
  }

  .simple-col-pull-xs-17 {
    right: 70.8333333333%;
  }

  .simple-col-offset-xs-17 {
    margin-left: 70.8333333333%;
  }

  .simple-col-span-xs-18 {
    width: 75%;
  }

  .simple-col-push-xs-18 {
    left: 75%;
  }

  .simple-col-pull-xs-18 {
    right: 75%;
  }

  .simple-col-offset-xs-18 {
    margin-left: 75%;
  }

  .simple-col-span-xs-19 {
    width: 79.1666666667%;
  }

  .simple-col-push-xs-19 {
    left: 79.1666666667%;
  }

  .simple-col-pull-xs-19 {
    right: 79.1666666667%;
  }

  .simple-col-offset-xs-19 {
    margin-left: 79.1666666667%;
  }

  .simple-col-span-xs-20 {
    width: 83.3333333333%;
  }

  .simple-col-push-xs-20 {
    left: 83.3333333333%;
  }

  .simple-col-pull-xs-20 {
    right: 83.3333333333%;
  }

  .simple-col-offset-xs-20 {
    margin-left: 83.3333333333%;
  }

  .simple-col-span-xs-21 {
    width: 87.5%;
  }

  .simple-col-push-xs-21 {
    left: 87.5%;
  }

  .simple-col-pull-xs-21 {
    right: 87.5%;
  }

  .simple-col-offset-xs-21 {
    margin-left: 87.5%;
  }

  .simple-col-span-xs-22 {
    width: 91.6666666667%;
  }

  .simple-col-push-xs-22 {
    left: 91.6666666667%;
  }

  .simple-col-pull-xs-22 {
    right: 91.6666666667%;
  }

  .simple-col-offset-xs-22 {
    margin-left: 91.6666666667%;
  }

  .simple-col-span-xs-23 {
    width: 95.8333333333%;
  }

  .simple-col-push-xs-23 {
    left: 95.8333333333%;
  }

  .simple-col-pull-xs-23 {
    right: 95.8333333333%;
  }

  .simple-col-offset-xs-23 {
    margin-left: 95.8333333333%;
  }

  .simple-col-span-xs-24 {
    width: 100%;
  }

  .simple-col-push-xs-24 {
    left: 100%;
  }

  .simple-col-pull-xs-24 {
    right: 100%;
  }

  .simple-col-offset-xs-24 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .simple-col-span-sm-1, .simple-col-span-sm-2, .simple-col-span-sm-3, .simple-col-span-sm-4, .simple-col-span-sm-5, .simple-col-span-sm-6, .simple-col-span-sm-7, .simple-col-span-sm-8, .simple-col-span-sm-9, .simple-col-span-sm-10, .simple-col-span-sm-11, .simple-col-span-sm-12, .simple-col-span-sm-13, .simple-col-span-sm-14, .simple-col-span-sm-15, .simple-col-span-sm-16, .simple-col-span-sm-17, .simple-col-span-sm-18, .simple-col-span-sm-19, .simple-col-span-sm-20, .simple-col-span-sm-21, .simple-col-span-sm-22, .simple-col-span-sm-23, .simple-col-span-sm-24 {
    float: left;
    flex: 0 0 auto;
  }

  .simple-col-span-sm-1 {
    width: 4.1666666667%;
  }

  .simple-col-push-sm-1 {
    left: 4.1666666667%;
  }

  .simple-col-pull-sm-1 {
    right: 4.1666666667%;
  }

  .simple-col-offset-sm-1 {
    margin-left: 4.1666666667%;
  }

  .simple-col-span-sm-2 {
    width: 8.3333333333%;
  }

  .simple-col-push-sm-2 {
    left: 8.3333333333%;
  }

  .simple-col-pull-sm-2 {
    right: 8.3333333333%;
  }

  .simple-col-offset-sm-2 {
    margin-left: 8.3333333333%;
  }

  .simple-col-span-sm-3 {
    width: 12.5%;
  }

  .simple-col-push-sm-3 {
    left: 12.5%;
  }

  .simple-col-pull-sm-3 {
    right: 12.5%;
  }

  .simple-col-offset-sm-3 {
    margin-left: 12.5%;
  }

  .simple-col-span-sm-4 {
    width: 16.6666666667%;
  }

  .simple-col-push-sm-4 {
    left: 16.6666666667%;
  }

  .simple-col-pull-sm-4 {
    right: 16.6666666667%;
  }

  .simple-col-offset-sm-4 {
    margin-left: 16.6666666667%;
  }

  .simple-col-span-sm-5 {
    width: 20.8333333333%;
  }

  .simple-col-push-sm-5 {
    left: 20.8333333333%;
  }

  .simple-col-pull-sm-5 {
    right: 20.8333333333%;
  }

  .simple-col-offset-sm-5 {
    margin-left: 20.8333333333%;
  }

  .simple-col-span-sm-6 {
    width: 25%;
  }

  .simple-col-push-sm-6 {
    left: 25%;
  }

  .simple-col-pull-sm-6 {
    right: 25%;
  }

  .simple-col-offset-sm-6 {
    margin-left: 25%;
  }

  .simple-col-span-sm-7 {
    width: 29.1666666667%;
  }

  .simple-col-push-sm-7 {
    left: 29.1666666667%;
  }

  .simple-col-pull-sm-7 {
    right: 29.1666666667%;
  }

  .simple-col-offset-sm-7 {
    margin-left: 29.1666666667%;
  }

  .simple-col-span-sm-8 {
    width: 33.3333333333%;
  }

  .simple-col-push-sm-8 {
    left: 33.3333333333%;
  }

  .simple-col-pull-sm-8 {
    right: 33.3333333333%;
  }

  .simple-col-offset-sm-8 {
    margin-left: 33.3333333333%;
  }

  .simple-col-span-sm-9 {
    width: 37.5%;
  }

  .simple-col-push-sm-9 {
    left: 37.5%;
  }

  .simple-col-pull-sm-9 {
    right: 37.5%;
  }

  .simple-col-offset-sm-9 {
    margin-left: 37.5%;
  }

  .simple-col-span-sm-10 {
    width: 41.6666666667%;
  }

  .simple-col-push-sm-10 {
    left: 41.6666666667%;
  }

  .simple-col-pull-sm-10 {
    right: 41.6666666667%;
  }

  .simple-col-offset-sm-10 {
    margin-left: 41.6666666667%;
  }

  .simple-col-span-sm-11 {
    width: 45.8333333333%;
  }

  .simple-col-push-sm-11 {
    left: 45.8333333333%;
  }

  .simple-col-pull-sm-11 {
    right: 45.8333333333%;
  }

  .simple-col-offset-sm-11 {
    margin-left: 45.8333333333%;
  }

  .simple-col-span-sm-12 {
    width: 50%;
  }

  .simple-col-push-sm-12 {
    left: 50%;
  }

  .simple-col-pull-sm-12 {
    right: 50%;
  }

  .simple-col-offset-sm-12 {
    margin-left: 50%;
  }

  .simple-col-span-sm-13 {
    width: 54.1666666667%;
  }

  .simple-col-push-sm-13 {
    left: 54.1666666667%;
  }

  .simple-col-pull-sm-13 {
    right: 54.1666666667%;
  }

  .simple-col-offset-sm-13 {
    margin-left: 54.1666666667%;
  }

  .simple-col-span-sm-14 {
    width: 58.3333333333%;
  }

  .simple-col-push-sm-14 {
    left: 58.3333333333%;
  }

  .simple-col-pull-sm-14 {
    right: 58.3333333333%;
  }

  .simple-col-offset-sm-14 {
    margin-left: 58.3333333333%;
  }

  .simple-col-span-sm-15 {
    width: 62.5%;
  }

  .simple-col-push-sm-15 {
    left: 62.5%;
  }

  .simple-col-pull-sm-15 {
    right: 62.5%;
  }

  .simple-col-offset-sm-15 {
    margin-left: 62.5%;
  }

  .simple-col-span-sm-16 {
    width: 66.6666666667%;
  }

  .simple-col-push-sm-16 {
    left: 66.6666666667%;
  }

  .simple-col-pull-sm-16 {
    right: 66.6666666667%;
  }

  .simple-col-offset-sm-16 {
    margin-left: 66.6666666667%;
  }

  .simple-col-span-sm-17 {
    width: 70.8333333333%;
  }

  .simple-col-push-sm-17 {
    left: 70.8333333333%;
  }

  .simple-col-pull-sm-17 {
    right: 70.8333333333%;
  }

  .simple-col-offset-sm-17 {
    margin-left: 70.8333333333%;
  }

  .simple-col-span-sm-18 {
    width: 75%;
  }

  .simple-col-push-sm-18 {
    left: 75%;
  }

  .simple-col-pull-sm-18 {
    right: 75%;
  }

  .simple-col-offset-sm-18 {
    margin-left: 75%;
  }

  .simple-col-span-sm-19 {
    width: 79.1666666667%;
  }

  .simple-col-push-sm-19 {
    left: 79.1666666667%;
  }

  .simple-col-pull-sm-19 {
    right: 79.1666666667%;
  }

  .simple-col-offset-sm-19 {
    margin-left: 79.1666666667%;
  }

  .simple-col-span-sm-20 {
    width: 83.3333333333%;
  }

  .simple-col-push-sm-20 {
    left: 83.3333333333%;
  }

  .simple-col-pull-sm-20 {
    right: 83.3333333333%;
  }

  .simple-col-offset-sm-20 {
    margin-left: 83.3333333333%;
  }

  .simple-col-span-sm-21 {
    width: 87.5%;
  }

  .simple-col-push-sm-21 {
    left: 87.5%;
  }

  .simple-col-pull-sm-21 {
    right: 87.5%;
  }

  .simple-col-offset-sm-21 {
    margin-left: 87.5%;
  }

  .simple-col-span-sm-22 {
    width: 91.6666666667%;
  }

  .simple-col-push-sm-22 {
    left: 91.6666666667%;
  }

  .simple-col-pull-sm-22 {
    right: 91.6666666667%;
  }

  .simple-col-offset-sm-22 {
    margin-left: 91.6666666667%;
  }

  .simple-col-span-sm-23 {
    width: 95.8333333333%;
  }

  .simple-col-push-sm-23 {
    left: 95.8333333333%;
  }

  .simple-col-pull-sm-23 {
    right: 95.8333333333%;
  }

  .simple-col-offset-sm-23 {
    margin-left: 95.8333333333%;
  }

  .simple-col-span-sm-24 {
    width: 100%;
  }

  .simple-col-push-sm-24 {
    left: 100%;
  }

  .simple-col-pull-sm-24 {
    right: 100%;
  }

  .simple-col-offset-sm-24 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .simple-col-span-md-1, .simple-col-span-md-2, .simple-col-span-md-3, .simple-col-span-md-4, .simple-col-span-md-5, .simple-col-span-md-6, .simple-col-span-md-7, .simple-col-span-md-8, .simple-col-span-md-9, .simple-col-span-md-10, .simple-col-span-md-11, .simple-col-span-md-12, .simple-col-span-md-13, .simple-col-span-md-14, .simple-col-span-md-15, .simple-col-span-md-16, .simple-col-span-md-17, .simple-col-span-md-18, .simple-col-span-md-19, .simple-col-span-md-20, .simple-col-span-md-21, .simple-col-span-md-22, .simple-col-span-md-23, .simple-col-span-md-24 {
    float: left;
    flex: 0 0 auto;
  }

  .simple-col-span-md-1 {
    width: 4.1666666667%;
  }

  .simple-col-push-md-1 {
    left: 4.1666666667%;
  }

  .simple-col-pull-md-1 {
    right: 4.1666666667%;
  }

  .simple-col-offset-md-1 {
    margin-left: 4.1666666667%;
  }

  .simple-col-span-md-2 {
    width: 8.3333333333%;
  }

  .simple-col-push-md-2 {
    left: 8.3333333333%;
  }

  .simple-col-pull-md-2 {
    right: 8.3333333333%;
  }

  .simple-col-offset-md-2 {
    margin-left: 8.3333333333%;
  }

  .simple-col-span-md-3 {
    width: 12.5%;
  }

  .simple-col-push-md-3 {
    left: 12.5%;
  }

  .simple-col-pull-md-3 {
    right: 12.5%;
  }

  .simple-col-offset-md-3 {
    margin-left: 12.5%;
  }

  .simple-col-span-md-4 {
    width: 16.6666666667%;
  }

  .simple-col-push-md-4 {
    left: 16.6666666667%;
  }

  .simple-col-pull-md-4 {
    right: 16.6666666667%;
  }

  .simple-col-offset-md-4 {
    margin-left: 16.6666666667%;
  }

  .simple-col-span-md-5 {
    width: 20.8333333333%;
  }

  .simple-col-push-md-5 {
    left: 20.8333333333%;
  }

  .simple-col-pull-md-5 {
    right: 20.8333333333%;
  }

  .simple-col-offset-md-5 {
    margin-left: 20.8333333333%;
  }

  .simple-col-span-md-6 {
    width: 25%;
  }

  .simple-col-push-md-6 {
    left: 25%;
  }

  .simple-col-pull-md-6 {
    right: 25%;
  }

  .simple-col-offset-md-6 {
    margin-left: 25%;
  }

  .simple-col-span-md-7 {
    width: 29.1666666667%;
  }

  .simple-col-push-md-7 {
    left: 29.1666666667%;
  }

  .simple-col-pull-md-7 {
    right: 29.1666666667%;
  }

  .simple-col-offset-md-7 {
    margin-left: 29.1666666667%;
  }

  .simple-col-span-md-8 {
    width: 33.3333333333%;
  }

  .simple-col-push-md-8 {
    left: 33.3333333333%;
  }

  .simple-col-pull-md-8 {
    right: 33.3333333333%;
  }

  .simple-col-offset-md-8 {
    margin-left: 33.3333333333%;
  }

  .simple-col-span-md-9 {
    width: 37.5%;
  }

  .simple-col-push-md-9 {
    left: 37.5%;
  }

  .simple-col-pull-md-9 {
    right: 37.5%;
  }

  .simple-col-offset-md-9 {
    margin-left: 37.5%;
  }

  .simple-col-span-md-10 {
    width: 41.6666666667%;
  }

  .simple-col-push-md-10 {
    left: 41.6666666667%;
  }

  .simple-col-pull-md-10 {
    right: 41.6666666667%;
  }

  .simple-col-offset-md-10 {
    margin-left: 41.6666666667%;
  }

  .simple-col-span-md-11 {
    width: 45.8333333333%;
  }

  .simple-col-push-md-11 {
    left: 45.8333333333%;
  }

  .simple-col-pull-md-11 {
    right: 45.8333333333%;
  }

  .simple-col-offset-md-11 {
    margin-left: 45.8333333333%;
  }

  .simple-col-span-md-12 {
    width: 50%;
  }

  .simple-col-push-md-12 {
    left: 50%;
  }

  .simple-col-pull-md-12 {
    right: 50%;
  }

  .simple-col-offset-md-12 {
    margin-left: 50%;
  }

  .simple-col-span-md-13 {
    width: 54.1666666667%;
  }

  .simple-col-push-md-13 {
    left: 54.1666666667%;
  }

  .simple-col-pull-md-13 {
    right: 54.1666666667%;
  }

  .simple-col-offset-md-13 {
    margin-left: 54.1666666667%;
  }

  .simple-col-span-md-14 {
    width: 58.3333333333%;
  }

  .simple-col-push-md-14 {
    left: 58.3333333333%;
  }

  .simple-col-pull-md-14 {
    right: 58.3333333333%;
  }

  .simple-col-offset-md-14 {
    margin-left: 58.3333333333%;
  }

  .simple-col-span-md-15 {
    width: 62.5%;
  }

  .simple-col-push-md-15 {
    left: 62.5%;
  }

  .simple-col-pull-md-15 {
    right: 62.5%;
  }

  .simple-col-offset-md-15 {
    margin-left: 62.5%;
  }

  .simple-col-span-md-16 {
    width: 66.6666666667%;
  }

  .simple-col-push-md-16 {
    left: 66.6666666667%;
  }

  .simple-col-pull-md-16 {
    right: 66.6666666667%;
  }

  .simple-col-offset-md-16 {
    margin-left: 66.6666666667%;
  }

  .simple-col-span-md-17 {
    width: 70.8333333333%;
  }

  .simple-col-push-md-17 {
    left: 70.8333333333%;
  }

  .simple-col-pull-md-17 {
    right: 70.8333333333%;
  }

  .simple-col-offset-md-17 {
    margin-left: 70.8333333333%;
  }

  .simple-col-span-md-18 {
    width: 75%;
  }

  .simple-col-push-md-18 {
    left: 75%;
  }

  .simple-col-pull-md-18 {
    right: 75%;
  }

  .simple-col-offset-md-18 {
    margin-left: 75%;
  }

  .simple-col-span-md-19 {
    width: 79.1666666667%;
  }

  .simple-col-push-md-19 {
    left: 79.1666666667%;
  }

  .simple-col-pull-md-19 {
    right: 79.1666666667%;
  }

  .simple-col-offset-md-19 {
    margin-left: 79.1666666667%;
  }

  .simple-col-span-md-20 {
    width: 83.3333333333%;
  }

  .simple-col-push-md-20 {
    left: 83.3333333333%;
  }

  .simple-col-pull-md-20 {
    right: 83.3333333333%;
  }

  .simple-col-offset-md-20 {
    margin-left: 83.3333333333%;
  }

  .simple-col-span-md-21 {
    width: 87.5%;
  }

  .simple-col-push-md-21 {
    left: 87.5%;
  }

  .simple-col-pull-md-21 {
    right: 87.5%;
  }

  .simple-col-offset-md-21 {
    margin-left: 87.5%;
  }

  .simple-col-span-md-22 {
    width: 91.6666666667%;
  }

  .simple-col-push-md-22 {
    left: 91.6666666667%;
  }

  .simple-col-pull-md-22 {
    right: 91.6666666667%;
  }

  .simple-col-offset-md-22 {
    margin-left: 91.6666666667%;
  }

  .simple-col-span-md-23 {
    width: 95.8333333333%;
  }

  .simple-col-push-md-23 {
    left: 95.8333333333%;
  }

  .simple-col-pull-md-23 {
    right: 95.8333333333%;
  }

  .simple-col-offset-md-23 {
    margin-left: 95.8333333333%;
  }

  .simple-col-span-md-24 {
    width: 100%;
  }

  .simple-col-push-md-24 {
    left: 100%;
  }

  .simple-col-pull-md-24 {
    right: 100%;
  }

  .simple-col-offset-md-24 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .simple-col-span-lg-1, .simple-col-span-lg-2, .simple-col-span-lg-3, .simple-col-span-lg-4, .simple-col-span-lg-5, .simple-col-span-lg-6, .simple-col-span-lg-7, .simple-col-span-lg-8, .simple-col-span-lg-9, .simple-col-span-lg-10, .simple-col-span-lg-11, .simple-col-span-lg-12, .simple-col-span-lg-13, .simple-col-span-lg-14, .simple-col-span-lg-15, .simple-col-span-lg-16, .simple-col-span-lg-17, .simple-col-span-lg-18, .simple-col-span-lg-19, .simple-col-span-lg-20, .simple-col-span-lg-21, .simple-col-span-lg-22, .simple-col-span-lg-23, .simple-col-span-lg-24 {
    float: left;
    flex: 0 0 auto;
  }

  .simple-col-span-lg-1 {
    width: 4.1666666667%;
  }

  .simple-col-push-lg-1 {
    left: 4.1666666667%;
  }

  .simple-col-pull-lg-1 {
    right: 4.1666666667%;
  }

  .simple-col-offset-lg-1 {
    margin-left: 4.1666666667%;
  }

  .simple-col-span-lg-2 {
    width: 8.3333333333%;
  }

  .simple-col-push-lg-2 {
    left: 8.3333333333%;
  }

  .simple-col-pull-lg-2 {
    right: 8.3333333333%;
  }

  .simple-col-offset-lg-2 {
    margin-left: 8.3333333333%;
  }

  .simple-col-span-lg-3 {
    width: 12.5%;
  }

  .simple-col-push-lg-3 {
    left: 12.5%;
  }

  .simple-col-pull-lg-3 {
    right: 12.5%;
  }

  .simple-col-offset-lg-3 {
    margin-left: 12.5%;
  }

  .simple-col-span-lg-4 {
    width: 16.6666666667%;
  }

  .simple-col-push-lg-4 {
    left: 16.6666666667%;
  }

  .simple-col-pull-lg-4 {
    right: 16.6666666667%;
  }

  .simple-col-offset-lg-4 {
    margin-left: 16.6666666667%;
  }

  .simple-col-span-lg-5 {
    width: 20.8333333333%;
  }

  .simple-col-push-lg-5 {
    left: 20.8333333333%;
  }

  .simple-col-pull-lg-5 {
    right: 20.8333333333%;
  }

  .simple-col-offset-lg-5 {
    margin-left: 20.8333333333%;
  }

  .simple-col-span-lg-6 {
    width: 25%;
  }

  .simple-col-push-lg-6 {
    left: 25%;
  }

  .simple-col-pull-lg-6 {
    right: 25%;
  }

  .simple-col-offset-lg-6 {
    margin-left: 25%;
  }

  .simple-col-span-lg-7 {
    width: 29.1666666667%;
  }

  .simple-col-push-lg-7 {
    left: 29.1666666667%;
  }

  .simple-col-pull-lg-7 {
    right: 29.1666666667%;
  }

  .simple-col-offset-lg-7 {
    margin-left: 29.1666666667%;
  }

  .simple-col-span-lg-8 {
    width: 33.3333333333%;
  }

  .simple-col-push-lg-8 {
    left: 33.3333333333%;
  }

  .simple-col-pull-lg-8 {
    right: 33.3333333333%;
  }

  .simple-col-offset-lg-8 {
    margin-left: 33.3333333333%;
  }

  .simple-col-span-lg-9 {
    width: 37.5%;
  }

  .simple-col-push-lg-9 {
    left: 37.5%;
  }

  .simple-col-pull-lg-9 {
    right: 37.5%;
  }

  .simple-col-offset-lg-9 {
    margin-left: 37.5%;
  }

  .simple-col-span-lg-10 {
    width: 41.6666666667%;
  }

  .simple-col-push-lg-10 {
    left: 41.6666666667%;
  }

  .simple-col-pull-lg-10 {
    right: 41.6666666667%;
  }

  .simple-col-offset-lg-10 {
    margin-left: 41.6666666667%;
  }

  .simple-col-span-lg-11 {
    width: 45.8333333333%;
  }

  .simple-col-push-lg-11 {
    left: 45.8333333333%;
  }

  .simple-col-pull-lg-11 {
    right: 45.8333333333%;
  }

  .simple-col-offset-lg-11 {
    margin-left: 45.8333333333%;
  }

  .simple-col-span-lg-12 {
    width: 50%;
  }

  .simple-col-push-lg-12 {
    left: 50%;
  }

  .simple-col-pull-lg-12 {
    right: 50%;
  }

  .simple-col-offset-lg-12 {
    margin-left: 50%;
  }

  .simple-col-span-lg-13 {
    width: 54.1666666667%;
  }

  .simple-col-push-lg-13 {
    left: 54.1666666667%;
  }

  .simple-col-pull-lg-13 {
    right: 54.1666666667%;
  }

  .simple-col-offset-lg-13 {
    margin-left: 54.1666666667%;
  }

  .simple-col-span-lg-14 {
    width: 58.3333333333%;
  }

  .simple-col-push-lg-14 {
    left: 58.3333333333%;
  }

  .simple-col-pull-lg-14 {
    right: 58.3333333333%;
  }

  .simple-col-offset-lg-14 {
    margin-left: 58.3333333333%;
  }

  .simple-col-span-lg-15 {
    width: 62.5%;
  }

  .simple-col-push-lg-15 {
    left: 62.5%;
  }

  .simple-col-pull-lg-15 {
    right: 62.5%;
  }

  .simple-col-offset-lg-15 {
    margin-left: 62.5%;
  }

  .simple-col-span-lg-16 {
    width: 66.6666666667%;
  }

  .simple-col-push-lg-16 {
    left: 66.6666666667%;
  }

  .simple-col-pull-lg-16 {
    right: 66.6666666667%;
  }

  .simple-col-offset-lg-16 {
    margin-left: 66.6666666667%;
  }

  .simple-col-span-lg-17 {
    width: 70.8333333333%;
  }

  .simple-col-push-lg-17 {
    left: 70.8333333333%;
  }

  .simple-col-pull-lg-17 {
    right: 70.8333333333%;
  }

  .simple-col-offset-lg-17 {
    margin-left: 70.8333333333%;
  }

  .simple-col-span-lg-18 {
    width: 75%;
  }

  .simple-col-push-lg-18 {
    left: 75%;
  }

  .simple-col-pull-lg-18 {
    right: 75%;
  }

  .simple-col-offset-lg-18 {
    margin-left: 75%;
  }

  .simple-col-span-lg-19 {
    width: 79.1666666667%;
  }

  .simple-col-push-lg-19 {
    left: 79.1666666667%;
  }

  .simple-col-pull-lg-19 {
    right: 79.1666666667%;
  }

  .simple-col-offset-lg-19 {
    margin-left: 79.1666666667%;
  }

  .simple-col-span-lg-20 {
    width: 83.3333333333%;
  }

  .simple-col-push-lg-20 {
    left: 83.3333333333%;
  }

  .simple-col-pull-lg-20 {
    right: 83.3333333333%;
  }

  .simple-col-offset-lg-20 {
    margin-left: 83.3333333333%;
  }

  .simple-col-span-lg-21 {
    width: 87.5%;
  }

  .simple-col-push-lg-21 {
    left: 87.5%;
  }

  .simple-col-pull-lg-21 {
    right: 87.5%;
  }

  .simple-col-offset-lg-21 {
    margin-left: 87.5%;
  }

  .simple-col-span-lg-22 {
    width: 91.6666666667%;
  }

  .simple-col-push-lg-22 {
    left: 91.6666666667%;
  }

  .simple-col-pull-lg-22 {
    right: 91.6666666667%;
  }

  .simple-col-offset-lg-22 {
    margin-left: 91.6666666667%;
  }

  .simple-col-span-lg-23 {
    width: 95.8333333333%;
  }

  .simple-col-push-lg-23 {
    left: 95.8333333333%;
  }

  .simple-col-pull-lg-23 {
    right: 95.8333333333%;
  }

  .simple-col-offset-lg-23 {
    margin-left: 95.8333333333%;
  }

  .simple-col-span-lg-24 {
    width: 100%;
  }

  .simple-col-push-lg-24 {
    left: 100%;
  }

  .simple-col-pull-lg-24 {
    right: 100%;
  }

  .simple-col-offset-lg-24 {
    margin-left: 100%;
  }
}

/*# sourceMappingURL=grid.css.map */
